/* ==================================================================================================
 * HOME PAGE
 * ================================================================================================== */


/* Barner */

.bimg-hp1 {
    height: 112vh !important;
    background: url('../images/home/hp1b.png') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}