/* ==================================================================================================
 * HOME PAGE
 * ================================================================================================== */


/* Barner */

.bimg-hp1 {
    height: 112vh !important;
    background: url('../images/home/hp1.png') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.bimg-hp2 {
    height: 100vh !important;
    background: url('../images/cezo-page/cezo1.png') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.bimg-hp3 {
    height: 100vh !important;
    margin-bottom: 0px !important;
    background: url('../images/home/hp2.png') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.footer {
    height: 50vh !important;
    margin: 0px !important;
}